-e git+https://github.com/tibnor/django-rest-framework.git@d44afafbc7dd005bfdf81195fb5d170886343cfb#egg=djangorestframework
-e .
-r requirements/codestyle.txt
-r requirements/packaging.txt
-r requirements/testing.txt
